# Ignore the following files
.env
__pycache__/
Update Github.txt
venv/
old/
Entregable_Gustavo_Martin.ipynb
Airflow_Docker/logs/
Airflow_Docker/logs/dag_processor_manager/
Airflow_Docker/config/

# Except for .env files inside the Airflow_Docker folder
!Airflow_Docker/.env
